@* Plugins/Nop.Plugin.Widgets.CustomerQuery/Views/PublicInfo.cshtml *@
@model Nop.Plugin.Widgets.CustomerQuery.Models.PublicInfoModel

@if (Model.DisplayType == "navigation")
{
    <li class="menu-item">
        <a href="@Url.RouteUrl("Plugin.CustomerQuery")" class="ico-customer-query">
            @T("Plugins.Widgets.CustomerQuery.SubmitQuery")
        </a>
    </li>
}
else if (Model.DisplayType == "footer")
{
    <div class="footer-upper-item">
        <div class="title">
            <strong>@T("Plugins.Widgets.CustomerQuery.SubmitQuery")</strong>
        </div>
        <ul class="list">
            <li>
                <a href="@Url.RouteUrl("Plugin.CustomerQuery")">@T("Plugins.Widgets.CustomerQuery.SubmitQuery")</a>
            </li>
        </ul>
    </div>
}
else if (Model.DisplayType == "account")
{
    <li class="customer-query">
        <a href="@Url.RouteUrl("Plugin.CustomerQuery")">@T("Plugins.Widgets.CustomerQuery.SubmitQuery")</a>
    </li>
}