@using Nop.Plugin.Widgets.CustomerQuery.Models.Customer
@using Nop.Web.Components
@using Nop.Web.Models.Customer
@model CustomerMyQueryListModel
@{
    Layout = "_ColumnsTwo";
}

@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent))
}

<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - My Queries</h1>
    </div>
    <div class="page-body">
        @if (Model.CustomerQueries.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>My Queries</strong>
                </div>                                  
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col />
                                <col />
                                <col />                                
                                <col />                                
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="email">
                                       Email
                                    </th>
                                    <th class="subject">
                                       Subject
                                    </th>
                                    <th class="query">
                                       Query
                                    </th>
                                    <th class="total-cycles">
                                        Time
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CustomerQueries)
                                {
                                    <tr>
                                        <td class="start-date">
                                        @item.Email
                                        </td>
                                        <td class="cycle-info">
                                            @item.Subject
                                        </td>
                                        <td class="next-payment">
                                            @item.Message
                                        </td>
                                    <td class="total-cycles">
                                        @item.CreatedOnUtc.AddHours(6).ToString("g")
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
               
            </div>
           
        }

       </div>
</div>